.menu__link {
    display: block;
    color: #616161;
    text-decoration: none;
    padding: 12px;
    border: 1px solid rgb(224, 216, 216);
    border-radius: 4px;
    transition: 0.3s ease;
}
.menu__link:hover {
    color: black;
    background: #e6e6e6;
}
.menu__link--activo {
    color: black;
    border-color: black;
}
.menu__link--activo:hover {
    background: #c7c7c7;
}

@media screen and (min-width: 768px) {
    .menu__link {
        padding: 0;
        border: none;
    }
    .menu__link:hover {
        background: none;
        text-decoration: underline;
    }
}
