.personas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 3rem;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    .personas {
        justify-content: space-between;
        flex-direction: row;
        gap: 20px;
    }
}